<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>E-Park-Gateway | Hathi Park</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="icon" href="data/images/logo.jpb.jpg">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="data/css/hathi.css">

</head>

<body class="index-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center light-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">eparkgateway@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+0532 969 070</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">HATHI PARK</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="index">Home<br></a></li>
            <li><a href="about">About</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="testimonials">Testimonials</a></li>
            <li><a href="pricing">Pricing</a></li>
            <li><a href="portfolio" >Gallery</a></li>
            <li><a href="blog">Updates/Events</a></li>
            <li class="dropdown"><a href="#"class="active"><span>Parks</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li class="dropdown"><a href="hathipark"><span>Hathi Park</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="">View Gallery</a></li>
                    <li><a href="#">Events</a></li>
                  </ul>
                </li>

                <li class="dropdown"><a href="companygarden"><span>Company garden/Alfred Park</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Events</a></li>
                    <li><a href="companygarden">View Gallery</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="contact">Contact</a></li>
            <li><a href="profiledetails">Profile</a></li>

          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="data/hatipark img/7th.jpg" alt="">
          <div class="container">
            <h2>In the Heart of Prayagraj: Hathi Park, Where Every Step Tells a Story</h2>
            <p>Discover a serene oasis where nature, fun, and adventure meet. E-Park Gateway offers lush gardens, exciting events, and family-friendly activities, providing a perfect retreat from the city's hustle. Unwind, explore, and create unforgettable memories at Hathi Park and Company Garden.</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="data/hatipark img/10th.jpg" alt="">
          <div class="container">
            <h2>Where Nature Heals: Hathi Park, a Place to Cherish Life’s Simple Joys</h2>
            <p>Step into the natural beauty of Prayagraj at E-Park Gateway, where lush greenery, scenic trails, and vibrant events await. Whether you're seeking relaxation or adventure, Hathi Park and Company Garden offer the perfect setting to connect with nature and enjoy unforgettable moments.</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="data/hatipark img/8th.jpg" alt="">
          <div class="container">
            <h2>Hathi Park: A Sanctuary of Love, Laughter, and Lasting Memories</h2>
            <p>Immerse yourself in the tranquil beauty of E-Park Gateway, Prayagraj’s premier outdoor escape. With sprawling landscapes, playful attractions, and peaceful gardens, Hathi Park and Company Garden offer a perfect blend of nature, leisure, and fun for families, nature lovers, and adventure seekers alike.</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section light-background">
        <div class="container">
            <h4 class="h4 text-center" id="park-name">HATHI PARK</h4>
        </div>
        <div class=" container-fluid row d-inline-flex m-0">
            <div class="col-sm-4 d-inline ">
                <img src="data/hatipark img/7th.jpg" alt="" class="img-fluid">
            </div><br>
            <div class="col-sm-8 my-3 mx-0">
                
               <ul style="padding: 0px;padding-left: 21px;padding-right:24px; font-size:15px">
                    <li>
                        Nestled in the heart of Prayagraj, Hathi Park offers a perfect escape for families seeking adventure and tranquility. With its lush greenery, vibrant flowerbeds, and picturesque walking trails, the park is an ideal setting for a memorable day out. Families can enjoy a variety of engaging activities, from picnicking on the sprawling lawns to exploring the playful playgrounds designed for children of all ages.

                    </li>
                    <br>
                    <li>
                        Hathi Park also features serene water bodies, where you can enjoy a peaceful boat ride, and ample seating areas for relaxation and bonding. Don’t miss the chance to capture beautiful moments with your loved ones against the backdrop of nature's beauty. Whether you're looking for a leisurely stroll, a fun day of exploration, or simply a place to unwind together, Hathi Park invites you to create lasting memories with your family. Come experience the joy and warmth of Hathi Park, where every visit is a celebration of togetherness and nature!

                    </li>
                    
                </ul>
            </div>
        </div>

    </section><!-- /Call To Action Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>About EPark</h3>
              </a>
              <p>Prayagraj EPark Gateway is a transformative digital initiative designed to bring the beauty, history, and vibrancy of Prayagraj's two most iconic green spaces — Hathi Park and Company Garden — into the digital age. Moreover, the website will serve as a real-time guide, offering up-to-date information on events, activities, and amenities within the parks</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>E-Ticket purchase</h3>
              </a>
              <p>The Prayagraj ePark Gateway website is designed to offer a seamless and user-friendly experience for purchasing e-tickets to Hathi Park and Company Garden. To know more <a href="/about">Click Here</a> <br>
              <code>Ticket Section > Select Park > Select Ticket Type and Quantity > personal details and payment > Download E-Ticket </code></p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Events Highlight</h3>
              </a>
              <p><ul>
                <li>Hathi Park Celebrates 75th Anniversary - 25 Aug,2024</li>
                <li>New Butterfly Garden in Company Garden- 10 Sep,2024</li>
                <li>
                  Renovation of the Central Fountain in Company Garden - 15
                  Aug,2024
                </li>
                <li>Upcoming Cultural Fest in Hathi Park - 6 to 7 Oct,2024</li>
                
              </ul></p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>E-Park Gateway Chatbot</h3>
              </a>
              <p>Our E-Park Gateway Chatbot is <b><code>24 X 7</code></b> available to assist you every step of the way. Whether you're booking tickets, seeking park information, or planning your visit, the chatbot provides real-time answers and guidance. Designed for ease of use, it ensures a seamless experience, letting you explore and enjoy our website effortlessly.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Park Services </h3>
              </a>
              <p><ul>
                <li>Comfortable Canteen Area</li>
                <li>Comfortable and renovated Jhula</li>
                <li>Supportive Staffs and workers</li>
                <li>Rich diversities and greenery</li>
                <li>Various Sports Events and playground area</li>
              </ul></p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Interactive Maps Available at Park's Page</h3>
              </a>
              <p>An Interactive Map on E-Park Gateway website serves as a dynamic, user-friendly tool that enhances the visitor experience by allowing them to explore the layout and key features of Hathi Park and Company Garden before arriving.<code><b> " This Feature will be available soon</b>"</code></p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Gallery Section -->
    <section id="portfolio" class="portfolio section">

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Parks View</li>
            <li data-filter=".filter-product">Events View</li>
            <li data-filter=".filter-branding">Canteen view</li>
            <li data-filter=".filter-books">Play area and Complex</li>
          </ul><!-- End Gallery Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-sm-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="data/hatipark img/1st.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Chandra Sekhar Azad Park (Company Garden)</h4>
                <p>Gate No 1</p>
                <a href="data/hatipark img/1st.jpg" title="image 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-4 col-sm-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="data/hatipark img/2nd.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Chandra Sekhar Azad Statue ceremony</h4>
                <p>People Celebrating The Azad Statue Ceremony At Company Garden</p>
                <a href="data/hatipark img/2nd.jpg" title="image 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-4 col-sm-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="data/hatipark img/3rd.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Company Garden </h4>
                <p>Drone view of Company Garden</p>
                <a href="data/hatipark img/3rd.jpg" title="image 3" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
          </div>
          <br>
          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-sm-4 col-md-6 portfolio-item isotope-item filter-books">
              <img src="data/hatipark img/4th.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>CG</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/4th.jpg" title="image 4" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
          
            
            <div class="col-lg-4  col-sm-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="data/hatipark img/5th.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cg</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/5th.jpg" title="image 5" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-sm-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="data/hatipark img/8th.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>CG</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/8th.jpg" title="image 6" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
          </div>
          <br>
          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-sm-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="data/hatipark img/10th.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cg</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/10th.jpg" title="image 7" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
          
         
            <div class="col-lg-4 col-sm-4 col-md-6 portfolio-item isotope-item filter-books">
              <img src="data/hatipark img/11th.jpg" class="img-fluid custom-img" alt="">
              <div class="portfolio-info">
                <h4>Cg</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/11th.jpg" title="image 8" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-sm-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="data/hatipark img/12th.jpg" class="img-fluid custom-img" alt="">
              <div class="portfolio-info">
                <h4>Cg</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/12th.jpg" title="image 8" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
          </div>
          <br>
          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            <div class=" col-sm-4 portfolio-item isotope-item filter-product">
              <img src="data/hatipark img/1st.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cg</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/1st.jpg" title="image 9" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            
           
            <div class="col-sm-4  portfolio-item isotope-item filter-branding">
              <img src="data/hatipark img/2nd.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cg</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/2nd.jpg" title="image 10" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class=" col-sm-4 portfolio-item isotope-item filter-books">
              <img src="data/hatipark img/3rd.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cg</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="data/hatipark img/3rd.jpg" title="image 11" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="hathipark" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0 clients-wrap">

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

        </div>

      </div>

    </section><!-- /Clients Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index" class="logo d-flex align-items-center">
              <span class="sitename">E- Park Gateway</span>
            </a>
            <div class="footer-contact pt-3">
              <p>A108 Adam Street</p>
              <p>Civil Lines, Prayagraj</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+0532 969 070</span></p>
              <p><strong>Email:</strong> <span>eparkgateway@gmail.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index">Home</a></li>
              <li><a href="about">About us</a></li>
              <li><a href="services">Services</a></li>
              <li><a href="privacy">Terms of service</a></li>
              <li><a href="privacy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Ticket Booking</a></li>
              <li><a href="#">Chatbot</a></li>
              <li><a href="blog">Events and Updates</a></li>
              <li><a href="testimonials">What our user said</a></li>
              <li><a href="#">Want to have website like us - Developers Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Hic solutasetp</h4>
            <ul>
              <li><a href="#">Molestiae accusamus iure</a></li>
              <li><a href="#">Excepturi dignissimos</a></li>
              <li><a href="#">Suscipit distinctio</a></li>
              <li><a href="#">Dilecta</a></li>
              <li><a href="#">Sit quas consectetur</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nobis illum</h4>
            <ul>
              <li><a href="#">Ipsam</a></li>
              <li><a href="#">Laudantium dolorum</a></li>
              <li><a href="#">Dinera</a></li>
              <li><a href="#">Trodelas</a></li>
              <li><a href="#">Flexo</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright <strong><span>Prayagraj Gateway</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            
            Featured By <a href="#">United Students</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>