<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>E-Park-Gateway | Services</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="icon" href="data/images/logo.jpb.jpg">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  
</head>

<body class="services-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center light-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">E - Park Gateway</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="index">Home<br></a></li>
            <li><a href="about">About</a></li>
            <li><a href="services" class="active">Services</a></li>
            <li><a href="testimonials">Testimonials</a></li>
            <li><a href="pricing">Pricing</a></li>
            <li><a href="portfolio">Gallery</a></li>
            <li><a href="blog">Updates/Events</a></li>
            <li class="dropdown"><a href="#"><span>Parks</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li class="dropdown"><a href="hathipark"><span>Hathi Park</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">View Gallery</a></li>
                    <li><a href="#">Events</a></li>
                  </ul>
                </li>

                <li class="dropdown"><a href="companygarden"><span>Company garden/Alfred Park</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">View Gallery</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="contact">Contact</a></li>
            <li><a href="profiledetails">Profile</a></li>


          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>
 <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Services</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>About EPark</h3>
              </a>
              <p>Prayagraj EPark Gateway is a transformative digital initiative designed to bring the beauty, history, and vibrancy of Prayagraj's two most iconic green spaces — Hathi Park and Company Garden — into the digital age. Moreover, the website will serve as a real-time guide, offering up-to-date information on events, activities, and amenities within the parks</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>E-Ticket purchase</h3>
              </a>
              <p>The Prayagraj ePark Gateway website is designed to offer a seamless and user-friendly experience for purchasing e-tickets to Hathi Park and Company Garden. To know more <a href="/about">Click Here</a> <br>
              <code>Ticket Section > Select Park > Select Ticket Type and Quantity > personal details and payment > Download E-Ticket </code></p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Events Highlight</h3>
              </a>
              <p><ul>
                <li>Hathi Park Celebrates 75th Anniversary - 25 Aug,2024</li>
                <li>New Butterfly Garden in Company Garden- 10 Sep,2024</li>
                <li>
                  Renovation of the Central Fountain in Company Garden - 15
                  Aug,2024
                </li>
                <li>Upcoming Cultural Fest in Hathi Park - 6 to 7 Oct,2024</li>
                
              </ul></p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>E-Park Gateway Chatbot</h3>
              </a>
              <p>Our E-Park Gateway Chatbot is <b><code>24 X 7</code></b> available to assist you every step of the way. Whether you're booking tickets, seeking park information, or planning your visit, the chatbot provides real-time answers and guidance. Designed for ease of use, it ensures a seamless experience, letting you explore and enjoy our website effortlessly.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Park Services </h3>
              </a>
              <p><ul>
                <li>Comfortable Canteen Area</li>
                <li>Comfortable and renovated Jhula</li>
                <li>Supportive Staffs and workers</li>
                <li>Rich diversities and greenery</li>
                <li>Various Sports Events and playground area</li>
              </ul></p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Interactive Maps Available at Park's Page</h3>
              </a>
              <p>An Interactive Map on E-Park Gateway website serves as a dynamic, user-friendly tool that enhances the visitor experience by allowing them to explore the layout and key features of Hathi Park and Company Garden before arriving.<code><b> " This Feature will be available soon</b>"</code></p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->


    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>🌳 Discover the Features of E Park Gateway 🌳</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-5 d-flex align-items-center">

            <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                  <i class="bi bi-stars"></i>
                  <div>
                    <h4 class="d-none d-lg-block">User-Friendly Interface</h4>
                      <p>Navigate effortlessly through our intuitive design, tailored for all ages to enjoy the beauty of nature.</p>
                    </p>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                  <i class="bi bi-cloud-drizzle-fill"></i>
                  <div>
                    <h4 class="d-none d-lg-block">Real-Time Information</h4>
                      <p>Stay updated with live weather alerts and an event calendar to make your visit unforgettable!</p>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                  <i class="bi bi-wrench-adjustable-circle-fill"></i>
                  <div>
                    <h4 class="d-none d-lg-block"> Visitor Support</h4>
                      <p>Access a comprehensive FAQ section and get in touch with our friendly support team for assistance.</p>
                  </div>
                </a>
              </li>
            </ul><!-- End Tab Nav -->

          </div>

          <div class="col-lg-6">

            <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

              <div class="tab-pane fade active show" id="features-tab-1">
                <img src="assets/img/tabs-1.jpg" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->

              <div class="tab-pane fade" id="features-tab-2">
                <img src="assets/img/tabs-2.jpg" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->

              <div class="tab-pane fade" id="features-tab-3">
                <img src="assets/img/tabs-3.jpg" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Features Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index" class="logo d-flex align-items-center">
              <span class="sitename">E- Park Gateway</span>
            </a>
            <div class="footer-contact pt-3">
              <p>A108 Adam Street</p>
              <p>Civil Lines, Prayagraj</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+0532 969 070</span></p>
              <p><strong>Email:</strong> <span>eparkgateway@gmail.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index">Home</a></li>
              <li><a href="about">About us</a></li>
              <li><a href="services">Services</a></li>
              <li><a href="privacy">Terms of service</a></li>
              <li><a href="privacy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Ticket Booking</a></li>
              <li><a href="#">Chatbot</a></li>
              <li><a href="blog">Events and Updates</a></li>
              <li><a href="testimonials">What our user said</a></li>
              <li><a href="#">Want to have website like us - Developers Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Hic solutasetp</h4>
            <ul>
              <li><a href="#">Molestiae accusamus iure</a></li>
              <li><a href="#">Excepturi dignissimos</a></li>
              <li><a href="#">Suscipit distinctio</a></li>
              <li><a href="#">Dilecta</a></li>
              <li><a href="#">Sit quas consectetur</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nobis illum</h4>
            <ul>
              <li><a href="#">Ipsam</a></li>
              <li><a href="#">Laudantium dolorum</a></li>
              <li><a href="#">Dinera</a></li>
              <li><a href="#">Trodelas</a></li>
              <li><a href="#">Flexo</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright <strong><span>Prayagraj Gateway</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            
            Featured By <a href="#">United Students</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <!-- Chatbot code embedded from here under script  -->
  <script>
    window.embeddedChatbotConfig = {
    chatbotId: "R3gMeY5OHOIk_cuRcyJDy",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="R3gMeY5OHOIk_cuRcyJDy"
    domain="www.chatbase.co"
    defer>
    </script>


</body>

</html>